@import 'variables';
@import 'mixins';

* {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

a {
  text-decoration: none;
  font-size: $small;
  color: black;
}

p {
  font-size: $small;
  opacity: 0.8;
}

span {
  font-size: $md;
}

h1 {
  font-size: $sup-large;
}

h3 {
  font-size: $lg;
}

h5 {
  font-size: $md;
}

hr {
  background-image: url('../images/hr.jpg');
  height: 20px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 0.5em;
  color: $white;
  background-color: complement($color: $blue);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: $small;
  width: 10%;
  float: right;
}

button:hover {
  opacity: 0.7;
}


.wrapper {
  .adoption_form {
    @include flex(center);
    padding: 2em;
    .input_wrapper {
      @include flex-col(6, 1%);
      flex-direction: column;
      padding: 0.9em;
      label {
        width: 100%;
        opacity: 0.7;
        padding: 0 0.5em;
      }
      select, input {
        border: 0.5px solid gray;
        padding: 0.2em;   
      }

      button {
        width: 80%;
        align-self: flex-end;
      }
    
    }
  }
  
  .grid {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 2em;
    .card {
      @include flex-col(3, 1%);
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      .title {
        color: grey;
        overflow: initial;
        padding: 0.8em;
      }
      div {
        .card_img {
          width: 100%;
          height: 400px;
          object-fit: cover;
        }
      }
    
      button {
        float: none;
        width: 100%;
      }
    
  }
  
}
  
}

.showcase {
  height: 100vh;
  background: linear-gradient(-30deg, $green, $blue);
  display: flex;
  flex-direction: column;
  width: 100%;
}


// nav 

nav {
  // position: fixed;
  top: 0;
  z-index: 1;
  @include flex(center);
  margin-bottom: 2em;
  ul {
    @include flex(space-around);
    list-style: none;
    padding-top: 1rem;
    a {
      display: block;    
      }
    }
  }

// auth
.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}

.cont {
  overflow: hidden;
  position: relative;
  width: $contW;
  height: 550px;
  margin: 0 auto 100px;
  background: #fff;
}

.form {
  position: relative;
  width: $formW;
  height: 100%;
  transition: transform $switchAT ease-in-out;
  padding: 50px 30px 0;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: $formW;
  top: 0;
  width: $contW;
  height: 100%;
  padding-left: $imgW;
  background: #fff;
  transition: transform $switchAT ease-in-out;

  @include signUpActive {
    transform: translate3d($formW * -1,0,0);
  }
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: $imgW;
  height: 100%;
  padding-top: 360px;

  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: $contW;
    height: 100%;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg');
    background-size: cover;
    transition: transform $switchAT ease-in-out;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
  }

  @include signUpActive {
    &:before {
      transform: translate3d($formW,0,0);
    }
  }

  &__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    transition: transform $switchAT ease-in-out;

    h2 {
      margin-bottom: 10px;
      font-weight: normal;
    }

    p {
      font-size: 14px;
      line-height: 1.5;
    }

    &.m--up {

      @include signUpActive {
        transform: translateX($imgW*2);
      }
    }

    &.m--in {
      transform: translateX($imgW * -2);

      @include signUpActive {
        transform: translateX(0);
      }
    }
  }

  &__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: $btnH;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    
    &:after {
      content: '';
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 2px solid #fff;
      border-radius: 30px;
    }

    span {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: transform $switchAT;
      
      &.m--in {
        transform: translateY($btnH*-2);
        
        @include signUpActive {
          transform: translateY(0);
        }
      }
      
      &.m--up {
        @include signUpActive {
          transform: translateY($btnH*2);
        }
      }
    }
  }
}

h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

label {
  display: block;
  width: $inputW;
  margin: 25px auto 0;
  text-align: center;

  span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
  }
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  text-align: center;
}

.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #d4af7a;
  text-transform: uppercase;
}

.fb-btn {
  border: 2px solid #d3dae9;
  color: darken(#d3dae9, 20%);

  span {
    font-weight: bold;
    color: darken(#768cb6, 20%);
  }
}

.sign-in {
  transition-timing-function: ease-out;

  @include signUpActive {
    transition-timing-function: ease-in-out;
    transition-duration: $switchAT;
    transform: translate3d($formW,0,0);
  }
}

.sign-up {
  transform: translate3d($contW * -1,0,0);

  @include signUpActive {
    transform: translate3d(0,0,0);
  }
}

.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;

  img {
    width: 100%;
    vertical-align: top;
  }

  &--twitter {
    left: auto;
    right: 5px;
  }
}


// booking 
.booking {
  width: 100%;
  form {
    @include flex(space-evenly);
    padding: 1em;
    .col{
      div {
        padding: 0.3em;
        input {
          width: 100%;
          padding: 0.5em;
        }
      }
      .react-calendar{
        background-color: $green;
        .react-calendar__navigation{
          background-color: complement($color: $blue);
          height: 100%;
          .react-calendar__navigation__label {
            width: 100%;
            height: 100%;
            padding: 0;
          }
      
        }
      }
      
      button {
        width: 70%;
      }
    
    }
    
  }
  
}

.fade-enter {
  opacity: 0.1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 3000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.1;
  transition: opacity 3000ms ease-out;
}

