@import "variables";
@import "mixins";

* {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;

    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

body {
    background: linear-gradient(-90deg, $blue, $light-green);
}

a {
    text-decoration: none;
    font-size: $small;
    color: black;
}

ul {
    list-style: none;

    li {
        cursor: pointer;
    }
}

p {
    font-size: $small;
    opacity: 0.5;
    padding: 0.5em;
}

span {
    font-size: $md;
}

h1 {
    font-size: $sup-large;
    color: $white;
    width: 100%;

    @include mQ($screen-sm) {
        font-size: $sup-large / 1.5;
    }
}

h3 {
    font-size: $lg;
    text-align: center;
    color: $white;
}

h5 {
    color: darken($color: $blue, $amount: 12);
    font-size: $md;
    padding: 0.2em;
}

hr {
    background-image: url("../images/hr.jpg");
    opacity: 0.5;
    height: 40px;
    width: 100%;
}

// hr {
//     background-image: url("../images/cloud-nosun.png");
//     opacity: 0.8;
//     background-size: contain;
//     height: 60px;
// }

button {
    border: none;
    outline: 0;
    padding: .5em 1.3em;
    border-radius: 5px;
    margin: .4em 0;
    color: $white;
    background-color: darken($color: $pink, $amount: 15);
    border: 1px solid darken($color: $pink, $amount: 10);
    text-align: center;
    cursor: pointer;
    width: auto;
    font-size: $small;
    transition: opacity 2s;
    filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.349));

    &:hover {
        opacity: 0.5;
    }
}

input,
textarea,
select,
option {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.493);
    background: none;
}

label {
    width: 100%;
    opacity: 0.7;
    padding: 0.5em;
    text-align: left;
    color: $white;
}

.input-wrapper {
    width: 100%;
    overflow: hidden;
    padding: 0.6em;

    label {
        padding: 0.5em 0;
        margin: 0;
    }

    button {
        float: right;
    }
}

.App {
    @include flex(space-between);

    flex-direction: column;
    height: 100%;
}

.showcase {
    @include flex(center);

    flex-direction: column;
    width: 80%;
    background-color: $white;

    @include mQ($screen-md) {
        width: 100%;
    }
}

.none {
    display: none;
}

.opacity {
    opacity: 0.2;
}

// nav
.navigation {
    width: 100%;

    #logo {
        img {
            width: 50%;

            @include mQ($screen-md) {
                width: 100%;
            }
        }
    }

    .book-btn {
        background-color: darken($color: $pink, $amount: 8);
        border: 1px solid $pink;
        border-radius: 20px;
        padding: .6em;
        text-align: center;
        color: $white;
    }

    .upper-nav {
        @include flex(space-between);

        padding: 0.3em;

        li {
            @include mQ($screen-md) {
                width: 100%;
            }


            img {
                width: 15%;
                -webkit-animation: nav 2s linear infinite alternate;
                animation: nav 2s linear infinite alternate;

                @include mQ($screen-md) {
                    width: 60%;
                }
            }

            a {
                color: $white;
                text-align: center;
            }
        }

        .user-menu {
            @include dropdown;

            // .dropdown-content {
            //     background-color: $;        
            // }
            i {
                color: $white;
                font-size: $small;

                &::first-letter {
                    margin-right: .2em;
                }
            }
        }
    }

    nav {
        @include flex(center);

        padding: 1em;
        background-color: $white;
        top: 0;
        z-index: 1;

        .dropdown {
            @include flex(space-around);
            @include mQ($screen-md) {
                @include dropdown;

                align-items: flex-start;

                &:after {
                    content: "menu";
                    color: $blue;
                    text-align: left;
                }
            }


            a {
                color: $blue;
                margin: .5em;
            }
        }
    }
}

@-webkit-keyframes nav {
    to {
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
}

@keyframes nav {
    to {
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
}

.homepage {
    width: 100%;
    height: 100vh;

    @include mQ($screen-md) {
        height: auto;
    }


    .landing {
        @include flex(center);

        align-items: flex-start;
        padding: 0 5em;
        height: 100%;

        @include mQ($screen-md) {
            flex-direction: column;
            padding: 1em;
        }


        div {
            height: 100%;

            @include mQ($screen-md) {
                height: auto;
            }
        }

        .hero_image_section {
            @include flex(space-evenly);

            .ball {
                height: 120px;
                -webkit-animation: ball 1s linear infinite alternate;
                animation: ball 1s linear infinite alternate;

                @include mQ($screen-md) {
                    height: 60px;
                }
            }

            .hero_image {
                height: 350px;
                transform: rotateY(-180deg);

                @include mQ($screen-md) {
                    height: 170px;
                }
            }
        }

        .headline {
            padding: 1.5em;

            @include flex(center);

            flex-direction: column;

            @include mQ($screen-md) {
                padding: 0;
            }


            h1 {
                padding: 1.5em 0;

                @include mQ($screen-md) {
                    padding: .5em 0;
                    text-align: center;
                }
            }

            button {
                @include mQ($screen-md) {
                    width: auto;
                }
            }
        }
    }
}

.services {
    @include flex(center);

    flex-direction: column;

    .wrapper-header {
        div {
            span {
                color: $white;
            }

            img {
                width: 100%;
            }
        }
    }

    :root {
        --web-view-ids: Web_1920___1;
    }

    #Web_1920___1 * {
        margin: 0;
        padding: 0;
    }

    #Web_1920___1 {
        position: relative;
        box-sizing: border-box;
        width: 1956px;
        height: 150px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        --web-view-name: Web 1920 – 1;
        --web-view-id: Web_1920___1;
        --web-enable-deep-linking: true;
    }

    #Ellipse_1 {
        fill: #876160;
    }

    .Ellipse_1 {
        position: absolute;
        overflow: visible;
        width: 2312px;
        height: 299px;
        left: -178px;
        top: -896px;
    }

    .services_about {
        width: 100%;
        padding: 1em;
    }

    @include grid-wrapper;

    .services_clients {
        background-color: #876160;
    }

    .services_contact {
        @include flex(center);

        flex-direction: column;
        padding: 3em 1em;

        button {
            margin: 1em 0;
        }
    }
}

@-webkit-keyframes ball {
    to {
        -webkit-transform: translateY(30%);
        transform: translateY(30%);
    }
}

@keyframes ball {
    to {
        -webkit-transform: translateY(30%);
        transform: translateY(30%);
    }
}

//auth

.registration {
    @include flex(space-between);
    flex-direction: row;
    @include mQ($screen-lg){
        flex-direction: column;
    }
    .form-wrapper {
       padding: 1em;
       width: 100%;
        form {
            label {
                color: $pink;
            }
            .remember-me-wrapper{
                @include flex(flex-end);
                
                label, input {
                    width: auto;
                }
            }
            .forgot-pwd{
                width: 100%;
                opacity: .7;
                text-align: right;
                text-decoration: underline;
            }
            button {
                float: right;
            }
        }
        .switch_btn_wrapper{
            color: $pink;
            cursor: pointer;
            &:hover{
text-decoration: underline;
color: darken($color: $pink, $amount: 15);
            }
        }
    }
    .sub-cont {
        background-position: center;
        background-size: cover;
        height: 600px;
        width: 100%;
        background-repeat: no-repeat;
        @include mQ($screen-lg){
            
        }
    }
}

.wrapper {
    @include flex(center);
    flex-direction: column;
    .wrapper-header {
        @include flex(center);

        background-color: darken($color: $pink, $amount: 25);
        padding: 2em;

        @include mQ($screen-lg) {
            flex-direction: column;
            filter: none;
            padding: 1em;
        }


        .news-heroimage {
            width: 80%;

            @include mQ($screen-sm) {
                width: 100%;
            }
        }

        .adoption-heroimage {
            width: 70%;

            @include mQ($screen-sm) {
                width: 100%;
            }
        }

        div {
            @include flex(space-evenly);

            flex-direction: column;
            padding: .1em;
            text-align: center;

            span {
                color: $white;
                text-transform: lowercase;
                opacity: .8;

                &::first-letter {
                    text-transform: uppercase;
                }
            }
        }
    }

    .grid-form-wrapper {
        position: relative;
        width: 100%;

        .adoption-filter-wrapper {
            @include flex(space-between);

            color: $pink;
            text-align: right;
            padding: .5em;
            cursor: pointer;

            .i {
                letter-spacing: 2px;
            }
        }

        .adoption_form {
            @include flex(space-evenly);

            flex-direction: column;
            align-items: stretch;
            width: 40%;
            height: 100vh;
            right: 0;
            top: 1%;
            padding: 1.5em;
            background-color: lighten($color: $blue, $amount: 10);
            z-index: 2;
            position: absolute;

            @include mQ($screen-sm) {
                width: 100%;
                top: 0;
                position: relative;
            }


            .input-wrapper {
                .environment_wrapper {
                    @include flex(space-around);
                }
            }
        }

        @include grid-wrapper;
    }

    // news
    .card_img_news {
        width: 100%;
    }
}

.adoption-wrapper {
    background-color: $pink;

    .adoption_details {
        background-color: $white;

        @include flex(space-between);

        align-items: flex-start;
        padding: 2em;
        margin: 2em 0;

        @include mQ($screen-sm) {
            flex-direction: column-reverse;
        }


        .input-wrapper {
            @include flex(flex-start);

            label {
                width: auto;
                margin-right: .3em;
                color: $pink;
            }

            span {
                font-size: $small;
                text-transform: lowercase;
                color: rgba(0, 0, 0, 0.6);
            }

            i {
                color: darken($color: $green, $amount: 10);
            }
        }

        .adoption_address {
            @include flex(flex-start);

            align-items: flex-start;
            flex-direction: column;
        }

        .dog-slider {
            @include flex(center);

            flex-direction: column;
            width: 50%;

            @include mQ($screen-sm) {
                width: 100%;
            }


            img {
                max-width: 500px;
                max-height: 500px;
                object-fit: cover;

                @include mQ($screen-sm) {
                    width: 100%;
                }
            }

            .prev-next-btn-wrapper {
                @include flex(space-between);

                i {
                    font-size: $lg;
                    color: $green;
                }
            }
        }
    }
}

// auth

// booking
.booking {
    background-color: $pink;

    @include flex(space-between);

    flex-direction: column;
    padding: 3em 0;

    @include mQ($screen-md) {
        padding: 0;
    }


    .wrapper-header {
        @include mQ($screen-md) {
            padding: 0;
            flex-direction: column;
        }


        img {
            width: 100%;

            @include mQ($screen-md) {
                width: 100%;
            }
        }

        div {
            text-align: left;
            padding: .7em;

            h1 {
                @include mQ($screen-md) {
                    height: 100%;
                }
            }
        }
    }

    .booking-list {
        background-color: $white;

        @include flex(center);

        flex-direction: column;
        margin: 2em 0;
        padding: 2em;
        height: 100%;

        @include mQ($screen-md) {
            margin: 0;
            padding: 0;
        }


        h3 {
            color: $pink;
        }

        table {
            width: 80%;
            padding: 2em;
            margin: 2em;
            height: 100%;
            border: 2px solid $pink;

            @include mQ($screen-md) {
                width: 90%;
                height: auto;
            }


            tr:nth-child(even) {
                background-color: $white;
            }

            tr:nth-child(odd) {
                background-color: darken($color: $white, $amount: 3);
            }

            th {
                color: $white;
                background-color: complement($color: $blue);
            }

            td {
                text-align: center;
                padding: 1em;
            }
        }

        table,
        th,
        td {
            border: 1px solid gray;
            border-collapse: collapse;
        }
    }
}

.add-booking {
    background-color: $white;
    padding: 2em;
    width: 100%;
    height: 100%;

    @include mQ($screen-md) {
        flex-direction: column;
        padding: .2em;
    }


    h3 {
        color: $pink;
    }

    form {
        @include flex(space-evenly);

        align-items: flex-start;

        @include mQ($screen-md) {
            flex-direction: column;
        }


        label {
            color: $pink;
        }

        .col {
            @include flex(center);

            flex-direction: column;
            padding: 1em;

            p {
                padding: 1em;
            }

            .react-calendar {
                background-color: darken($color: $white, $amount: 2);
                filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.26));

                .react-calendar__tile--active {
                    background-color: $pink;
                }

                .react-calendar__navigation button[disabled] {
                    background: none;
                }

                .react-calendar__navigation {
                    background-color: darken($color: $pink, $amount: 12);
                    height: 100%;
                    padding: 0.5em;

                    .react-calendar__navigation__label {
                        width: 100%;
                        height: 100%;
                        padding: 0;
                    }
                }

                .react-calendar__tile {
                    color: black;
                }

                .react-calendar__tile:disabled {
                    color: #dbada8;
                    background: none;
                    filter: none;
                }
            }
        }
    }
}

// account

.account {
    @include flex(center);

    flex-direction: column;
    background-color: $pink;

    .wrapper-header {
        img {
            width: 50%;
        }
    }

    .updates {
        background-color: $white;
        width: 80%;

        label {
            color: $pink;
        }
    }
}

// contact

.contact {
    @include flex(center);

    flex-direction: column;
    background-color: $pink;

    h1 {
        padding: .5em;
    }

    .wrapper-header {
        @include flex(space-around);

        padding: 2em;

        @include mQ($screen-sm) {
            flex-direction: column-reverse;
        }


        div {
            img {
                width: auto;
            }
        }

        form {
            width: 100%;

            .input-wrapper {
                width: 100%;

                button {
                    float: right;
                    width: 30%;
                }
            }
        }
    }
}

footer {
    @include flex(space-between);

    flex-direction: column;
    background-color: $white;

    ul {
        @include flex(space-between);

        padding: 1em;

        i {
            color: $blue;
        }
    }
}

// alerts

.overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2000;
    transition: opacity 500ms;

    .popup {
        @include flex(center);

        flex-direction: column;
        padding: .8em;
        background: #fff;
        border-radius: 5px;
        width: 50%;
        position: relative;
        transition: all 5s ease-in-out;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include mQ($screen-md) {
            width: 80%;
            padding: .4em;
        }


        .close {
            width: 100%;
            padding: .2em;
            text-align: right;
            transition: all 200ms;
            font-size: $small;
            font-weight: bold;
            text-decoration: none;
            color: black;
            cursor: pointer;
        }

        .content {
            max-height: 30%;
            overflow: auto;
            font-size: $md;
        }
    }
}

.success {
    color: $green;
}

.error {
    color: red;
}

.error, .success {
    font-weight: 400;
    text-align: center;
    width: 100%;
    background: none;
    padding: 1em 0;
}

// tooltip

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    display: none;
    width: 30%;
    word-break: break-word;
    padding: .2em;
    background-color: $pink;
    color: $white;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    margin: .3em;
    font-size: $small;
    right: 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    display: block;
}
