@mixin flex($content) {
    display: flex;
    align-items: center;
    justify-content: $content;
    width: 100%;
}

@mixin background($img) {
    display: block;
    width: 100%;
    background-image: url($img);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@mixin column {
    display: inline-block;
    width: 44%;
    padding: 20px;
}

@mixin grid($cols, $mgn){
    float: left;
    margin-right: $mgn;
    margin-bottom: $mgn;
    width: ((100% - ($mgn * ( $cols - 1))) / $cols);
    &:nth-child(#{$cols}n){
        margin-right: 0;
    }
}

@mixin flex-col($cols, $mgn){
    display: flex;
    // flex-wrap: wrap;
    // flex: 0 0 ((100% - ($mgn * ( $cols - 1))) / $cols);
    margin: $mgn;
    width: ((100% - ($mgn * ( $cols - 1))) / $cols - 2%);
    &:nth-child(#{$cols}n){
        margin-right: 0;
    }
}

@mixin signUpActive {
    .cont.s--signup & {
      @content;
    }
  }

@mixin mQ($arg){
    @media screen and (max-width: $arg){
        @content;
    }
}

@mixin dropdown {
    padding: 1em;
    .dropdown-content {
      display: none;
      background-color: darken($color: $pink, $amount: 10);
      color: $white;
      transition: background-color 5s;
      span, label {
        font-size: $small;
        padding: .5em;
        display: block;

        &:hover {
          background-color: lighten($color: $pink, $amount: 10);
        }
      }
      
    }
}