@mixin flex($content) {
    display: flex;
    align-items: center;
    justify-content: $content;
    width: 100%;
}

@mixin background($img) {
    display: block;
    width: 100%;
    background-image: url($img);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@mixin column {
    display: inline-block;
    width: 44%;
    padding: 20px;
}

@mixin grid($cols, $mgn){
    float: left;
    margin-right: $mgn;
    margin-bottom: $mgn;
    width: ((100% - ($mgn * ( $cols - 1))) / $cols);
    &:nth-child(#{$cols}n){
        margin-right: 0;
    }
}

@mixin flex-col($cols, $mgn){
    display: flex;
    // flex-wrap: wrap;
    // flex: 0 0 ((100% - ($mgn * ( $cols - 1))) / $cols);
    margin: $mgn;
    width: ((100% - ($mgn * ( $cols - 1))) / $cols - 2%);
    &:nth-child(#{$cols}n){
        margin-right: 0;
    }
}

@mixin signUpActive {
    .cont.s--signup & {
      @content;
    }
  }

@mixin mQ($arg){
    @media screen and (max-width: $arg){
        @content;
    }
}

@mixin dropdown {
    padding: .5em;
    &:hover .dropdown-content {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        transition: display 5s;
        position: absolute;
        z-index: 1000;
    }
    .dropdown-content {
      display: none;
      background-color: darken($color: $pink, $amount: 10);
      color: $white;
      transition: background-color 5s;
      span, a {
        font-size: $small;
        padding: .4em;
        display: block;
        color: $white;
        width: 100%;
        text-align: left;
        &:hover {
          background-color: lighten($color: $pink, $amount: 10);
        }
      }
      
    }
}


@mixin grid-wrapper {
    .grid {
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;
        padding: 2em;
        z-index: 1;

        @include mQ($screen-md) {
            padding: 0;
        }

        .card {
            @include flex-col(3, 1%);
            @include mQ($screen-lg) {
                @include flex-col(2, 1%);
            }
            @include mQ($screen-sm) {
                width: 100%;
            }
    
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            background-color: $white;
    
            .card_header {
                position: relative;
    
                .card_left {
                    position: absolute;
                    z-index: 2;
                    right: 0;
                    bottom: 0;
    
                    i {
                        background-color: #876160;
                        padding: 0.5em;
                        color: $white;
                    }
                }
    
                .card_right {
                    @include flex(space-between);
    
                    position: absolute;
                    z-index: 2;
    
                    i {
                        background-color: #876160;
                        padding: 0.5em;
                        color: $white;
                    }
    
                    .fa-map-marker::first-letter {
                        padding-right: 0.3em;
                    }
    
                    .fa-map-marker::after {
                        content: " mi";
                    }
                }
    
                .card_img_wrapper {
                    position: relative;
                    z-index: 1;
    
                    .card_img {
                        width: 100%;
                        height: 300px;
                        object-fit: cover;
                    }
                }
            }
    
            .card_body {
                .title {
                    color: darken($color: $pink, $amount: 25);
                    overflow: initial;
                    padding: 0.8em;
                }
    
                button {
                    border: 0;
                    float: none;
                    width: 100%;
                    margin-bottom: 0;
                   
                }
            }
        }
    
    }
}



