$pink: #e9a1ad;
$yellow: #efe697;
$green: #d8e1ce;
$blue: #87aeb1;
$white: #fefbf4;

$small: 1.1em;
$md: 1.5em;
$lg: 2em;
$sup-large: 2.5em;

$contW: 900px;
$imgW: 260px;
$formW: $contW - $imgW;
$switchAT: 1.2s;
$inputW: 260px;
$btnH: 36px;
$diffRatio: ($contW - $imgW) / $contW;